.container {
  width: 500px;
}

#layer-2 {
  animation: rotate-rev 30s linear infinite;
  transform-origin: 50% 51.7%;
}

#layer-3 {
  animation: rotate 50s linear infinite;
  transform-origin: 50% 50%;
}
