* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%vh;
  padding: 5em 0 5em 0;
}

.cls-4 {
  display: none;
}

.link:hover {
  fill: red;
}

.link#articles-link:hover ~ .cls-4#articles-desc {
  display: block;
}

.link#contact-link:hover ~ .cls-4#contact-desc {
  display: block;
}

.link#resume-link:hover ~ .cls-4#resume-desc {
  display: block;
}
.link#projects-link:hover ~ .cls-4#projects-desc {
  display: block;
}
.link#about-link:hover ~ .cls-4#about-desc {
  display: block;
}

/* ANIMATION EFFECTS FOR CIRCULAR NAVIGATION */
#Layer_2 {
  animation: rotate 30s linear infinite;
  transform-origin: 50% 51.7%;
}

#Layer_4 {
  animation: rotate 30s linear infinite;
  transform-origin: 50% 51.7%;
}

#Layer_3 {
  animation: rotate-rev 30s linear infinite;
  transform-origin: 50% 50%;
}
#Layer_5 {
  animation: rotate-rev 30s linear infinite;
  transform-origin: 50% 50%;
}
#Layer_6 {
  animation: rotate-rev 30s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-rev {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
